<div class="footer light">
  <div class="">
    <div class="flex-center light">
      <div>
        <div class="text-left">
          <div>
            <h2 class="text-left">For all inquiries, please contact ::</h2>
            <hr>
            <br>
            <address>
              Michael Mitchell<br>
              Chief Operating Officer<br>
              <a href="mailto:michael@mentalwork.net">michael@mentalwork.net</a>
            </address>
            <br>
            <p class="text-left">
              <a href="https://www.facebook.com/MentalWorkFactory">facebook</a> | <a
                href="https://www.instagram.com/mental_work_factory/">instagram</a>
            </p>
          </div>
        </div>
        <br>
        <br>
        <br>
        <span data-go-to="#top" class="scrollTo">
          <span class="arrow-btn reverse">
          </span>
        </span>
        <div class="center">
          <img src="/assets/logos/logo.jpg" class="logo-footer">
        </div>
      </div>
    </div>
  </div>
</div>