<section class="dark light">
  <div class="flex-center">
    <div>
      <h2>Photos</h2>
      <hr>
    </div>
  </div>
  <div class="flex-center photo-gallery">
    <div>
      <img src="/assets/photos/generic/mental-work-4.jpg" alt="Mental work image">
    </div>
    <div>
      <img src="/assets/photos/generic/mental-work-1.jpg" alt="Mental work image">
    </div>
    <div>
      <img src="/assets/photos/project/image4.jpg" alt="Mental work image">
    </div>
    <div>
      <img src="/assets/photos/project/image5.jpg" alt="Mental work image">
    </div>
    <div>
      <img src="/assets/photos/generic/mental-work-2.jpg" alt="Mental work image">
    </div>
    <div>
      <img src="/assets/photos/generic/mental-work-3.jpg" alt="Mental work image">
    </div>
    <div>
      <img src="/assets/photos/project/image7.jpg" alt="Mental work image">
    </div>
    <div>
      <img src="/assets/photos/project/image9.jpg" alt="Mental work image">
    </div>
    <div>
      <img src="/assets/photos/project/image10.jpg" alt="Mental work image">
    </div>
    <div>
      <img src="/assets/photos/project/image12.jpg" alt="Mental work image">
    </div>
  </div>
</section>
