<section class="dark light">
  <div class="flex-center">
    <div>
      <h2>Photos</h2>
      <hr>
    </div>
  </div>
  <div class="flex-center photo-gallery">
    <div>
      <img src="/assets/photos/generic/mental-work-4.jpg" alt="Mental work showroom">
    </div>
    <div>
      <img src="/assets/photos/generic/mental-work-1.jpg" alt="Mental work showroom">
    </div>
    <div>
      <img src="/assets/photos/generic/mental-work-2.jpg" alt="Mental work showroom">
    </div>
    <div>
      <img src="/assets/photos/generic/mental-work-3.jpg" alt="Mental work showroom">
    </div>
  </div>
</section>
