<section class="dark">
  <div class="flex-center">
    <div>
      <h2>Partners</h2>
      <hr>
    </div>
  </div>
  <div class="">
    <a href="http://heig-vd.ch" target="_blank"><img src="/assets/logos/logo-heig-vd2.png" class="partner-logo large"></a>
    <a href="https://epfl.ch" target="_blank"><img src="/assets/logos/epfl.png" class="partner-logo"></a>
    <a href="https://www.campusbiotech.ch" target="_blank"><img src="/assets/logos/cb_tri.png" class="partner-logo larger"></a>
    <hr>
    <a href="https://haslerstiftung.ch/" target="_blank"><img src="/assets/logos/hasler.png" class="partner-logo smaller"></a>
    <a href="http://www.snf.ch/en/Pages/default.aspx" target="_blank"><img src="/assets/logos/fnsnf-inv.png" class="partner-logo"></a>
    <a href="https://www.grstiftung.ch/de.html" target="_blank"><img src="/assets/logos/grs_logo_inv.png" class="partner-logo"></a>
    <a href="http://www.ernst-goehner-stiftung.ch" target="_blank"><img src="/assets/logos/egs.png" class="partner-logo"></a>
    <a href="https://www.loro.ch" target="_blank"><img src="/assets/logos/loterie_inv.png" class="partner-logo"></a>
  </div>
</section>