<section class="light">
  <div class="flex-center">
    <div>
      <h2>PUBLICATIONS</h2>
      <hr>
    </div>
  </div>

{% if page.lang == 'fr' %}
  <h3>Couverture média locale et internationale:</h3>
{%- else -%}
  <h3>International and local media coverage:</h3>
{%- endif -%}
  <a target="_blank" href="https://www.reuters.com/video/2017/10/20/moving-machinery-using-mind-power-alone?videoId=372783830">➔ Reuters UK</a> (broadcasted by +22 TV channels)
  <br>
  <a target="_blank" href="https://spectrum.ieee.org/the-human-os/biomedical/bionics/artist-creates-a-factory-of-the-future-with-machines-controlled-by-brain-waves">➔ IEEE Spectrum</a>
  <br>
  <a target="_blank" href="https://motherboard.vice.com/en_us/article/59dn3b/mental-work-industries-automation-brain-controlled-factory">➔ Vice Motherboard</a>
  <br>
  <a target="_blank" href="http://www.euronews.com/2017/10/24/public-invited-to-show-off-the-power-of-their-minds">➔ Euronews</a>
  <br>
  <a target="_blank" href="http://blogs.nature.com/aviewfromthebridge/2017/10/27/machines-moved-by-mind/">➔ Nature</a>
  <br>
  <a target="_blank" href="https://www.wired.com/beyond-the-beyond/2017/10/jonathan-keats-worlds-hardest-working-conceptual-artist/">➔ Wired</a>
  <br>
  <a target="_blank" href="https://vimeo.com/243882139/8da7f9fb6f">➔ Discovery Channel</a>
  <br>
  <a target="_blank" href="https://www.facebook.com/SeekerMedia/videos/mental-work-wants-to-employ-your-brain/264019500898935/">➔ Seeker</a> (283,000 views)
  <br>
  <a target="_blank" href="https://www.rts.ch/play/radio/cqfd/audio/embarquez-pour-la-revolution-cognitive-a-lepfl?id=9047202">➔ Radio Télévision Suisse - CQFD</a>
  <br>
  <a target="_blank" href="https://www.rts.ch/play/radio/vertigo/audio/exposition-mental-work-a-lepfl?id=9088441&amp;station=a9e7621504c6959e35c3ecbe7f6bed0446cdf8da">➔ Radio Télévision Suisse - Vertigo</a>
  <br>
  <a target="_blank" href="https://www.tdg.ch/savoirs/sciences/Se-servir-de-son-cerveau-comme-d-une-telecommande/story/19476977">➔ Tribune de Genève / 24 Heures</a>
  <br><br>
  {% if page.lang == 'fr' %}
    <p>Aussi couvert en Russie, Chine, France, Vietnam, Chili, et dans d'autres pays du monde. </p>
  {%- else -%}
    <p>Also covered in Russia, China, France, Vietnam, Chile, and elsewhere around the world. </p>
  {%- endif -%}
</section>
