<section class="header light">
  <div class="flex-center">
    <div>
      {% if page.lang == 'fr' %}
        <h2>Équipe</h2>
      {%- else -%}
        <h2>Team profiles</h2>
      {%- endif -%}
      <hr>
    </div>
  </div>
  <div class="flex-center top">
    <div class="team-member">
      <img src="/assets/photos/team/Laurent.jpg" alt="Laurent Bolli" class="team-photo">
      <div class="center">
        <div class="bold">Laurent Bolli</div>
        <div class="small">Mental Work Head of User Experience Development<br>UX Professor at HEIG-VD</div>
      </div>
    </div>
    <div class="team-member">
      <img src="/assets/photos/team/Michael.jpg" alt="Michael Mitchell" class="team-photo">
      <div class="center">
        <div class="bold">Michael Mitchell</div>
        <div class="small">Mental Work Co-founder<br>Research Project Manager</div>
      </div>
    </div>
    <div class="team-member">
      <img src="/assets/photos/team/Jonathon.jpg" alt="Jonathon Keats" class="team-photo">
      <div class="center">
        <div class="bold">Jonathon Keats</div>
        <div class="small">Mental Work Co-founder<br>Artist and experimental philosopher</div>
      </div>
    </div>
  </div>
</section>
