.site-header {
  background: #222;
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  border: none;
}

.site-nav {
  .page-link, .page-link:visited {
    color: white;
  }
  .page-link.active {
    color: $red;
  }
}

.site-title {
  display: none;
}

.site-nav {
  float: none;
  font-size: 1.2em;
  border-bottom: 1px solid white;
  @include media-query($on-palm) {
    background-color: #222;
  }
}

.language-selector {
  float: right;
  a {
    color: white;
    &.active {
      color: $green;
    }
  }
  @include media-query($on-palm) {
    float: none;
  }
}