
.site-header {
  background: #222;
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  border: none;
}

.site-nav {
  .page-link, .page-link:visited {
    color: white;
  }
  .page-link.active {
    color: #ec6a7b;
  }
}

.site-title {
  display: none;
}

.site-nav {
  float: none;
  text-align: center;
  font-size: 1.2em;
  border-bottom: 1px solid white
}
